body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.mainlogo{
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
}

h2 {
    color: green;
}

footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
